openapi: 3.0.1
info:
  description: "\r\n    Introduction:\r\n\r\nPassportPDF API is a REST API that lets\
    \ you perform complex operations on documents and images easily.\r\nYou may consume\
    \ the API by using our.NET SDK (other platforms / languages are soon to come),\
    \ or any REST client by sending your requests to the appropriate endpoints. \r\
    \nA list of all the available endpoints can be found on the API reference page\
    \ at https://passportpdfapi.com/references/api/index.html\r\n\r\n    Authentication:\r\
    \n\r\nEach available operation has a predefined cost, expressed as a number of\
    \ tokens.\r\nThese tokens are deducted from your \"passport,\" which has a unique\
    \ identifier that acts as an API key. This key is, therefore, required to be provided\
    \ with each request for the latter to be honored(except if the operation does\
    \ not have a cost, typically when you request a simple data with a GET).\r\nYour\
    \ key must be included in the header of the request, under the name \"X-PassportPdf-API-Key.\"\
    \r\nIf you are using the.NET SDK, you can either set your key in the ApiKey property\
    \ of your API instance(PdfApi or ImageApi, for example) or set it globally in\
    \ the GlobalConfiguration instance if you want to set it once for the whole life\
    \ cycle of your application.\r\n\r\n\r\n    Communication with the API:\r\n\r\n\
    All the available actions are listed on the API reference page, as previously\
    \ mentioned.\r\nThere are several different controllers, i.e., routes, which categorize\
    \ the actions.For example, you may use the PDF controller(\"/api/pdf\" route)\
    \ to perform PDF - related operations, and the Image controller(\"/api/image\"\
    ) for images.\r\nEach action defines what kind of parameters(if any) is expected,\
    \ and what kind of response is served.Parameters and responses are represented\
    \ using data models, or \"schemas,\" and are listed in the \"Schemas\" section\
    \ of the reference. \r\nParameters and response models of a given action are both\
    \ prefixed by the controller name, the action name, and \"Parameters\" / \"Response,\"\
    \ e.g. \"api/pdf/reduce\" respectively receives and serves a PdfReduceParameters\
    \ and PdfReduceResponse models.\r\nUsing the .NET SDK, you will find the objects\
    \ to interact with the different controllers in the PassportPDF.Api namespace\
    \ and all the schemas in the PassportPDF.Model namespace.\r\n\r\n    Processing\
    \ documents:\r\n\r\nEach document manipulation starts with importing the file\
    \ onto the API.\r\nThe LoadDocument action of the PDF controller lets you import\
    \ your document as a PDF.\r\nNote that the GetPDFImportSupportedFileExtensions\
    \ action of the same controller will let you know all the different types of files\
    \ that you may import as a PDF. LoadDocument responds with a JSON-serialized PdfLoadDocumentResponse\
    \ model, which contains a \"FileId\" property.This identifier is required for\
    \ the API to know about your document for further manipulations, hence the presence\
    \ of a \"FileId\" property in the PdfReduceParameters schema (and many other parameters\
    \ schemas). To download the changes made to a file, you need, of course, to download\
    \ the new version of the file from the API.\r\nTo save your document as a PDF,\
    \ you will need to use the SaveDocument action of the PDF controller and provide\
    \ a PdfSaveDocumentParameters data model that contains the identifier of your\
    \ file.\r\n\r\n    Errors:\r\n\r\nConventional HTTP response codes are used to\
    \ indicate the success or failure of an API request. \r\nThe Error data model\
    \ also defines some information about an error that occurred on the API. \r\n\
    Each response model has an Error in its definition, and its sole existence in\
    \ the serialized response - which should thus always be checked - indicates that\
    \ something went wrong.\r\nAmong the information given by the Error schema, \"\
    ResultCode\" specifies a value of the \"PassportPDFStatus\" enumeration, that\
    \ defines a first level of error information. \"InternalErrorId\" defines a unique\
    \ identifier for the error, which comes very handy for us to troubleshoot any\
    \ issue you may encounter quickly.\r\n\r\n    Efficiency considerations:\r\n\r\
    \nMultipart upload/download is available and lets you directly stream a file to/from\
    \ the API.\r\nIn the PDF controller, LoadDocument/LoadDocumentMultipart and SaveDocument/SaveDocumentToFile\
    \ may be used to upload/download a document using respectively binary data serialization\
    \ and streaming multipart HTTP requests.\r\nThe second approach should be favored\
    \ when dealing with large files, as it will be much more efficient in that context.\r\
    \n"
  title: PassportPDF API
  version: 1.0.1
servers:
- url: https://passportpdfapi.com
paths:
  /api/config/ConfigGetAPIVersion:
    get:
      operationId: ConfigGetAPIVersion
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
      tags:
      - Config
  /api/config/ConfigGetMaxAllowedContentLength:
    get:
      operationId: ConfigGetMaxAllowedContentLength
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LongResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/LongResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/LongResponse'
          description: Success
      summary: Gets the maximal length of a request content, in bytes.
      tags:
      - Config
  /api/config/ConfigGetSuggestedClientTimeout:
    get:
      operationId: ConfigGetSuggestedClientTimeout
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IntegerResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/IntegerResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegerResponse'
          description: Success
      summary: Gets the suggested client API timeout, in milliseconds.
      tags:
      - Config
  /api/config/ConfigGetSuggestedMaxClientThreads:
    get:
      operationId: ConfigGetSuggestedMaxClientThreads
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IntegerResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/IntegerResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegerResponse'
          description: Success
      summary: Gets the suggested maximum number of threads to be used simultaneously
        by a client application.
      tags:
      - Config
  /api/config/ConfigGetSupportedFonts:
    get:
      operationId: ConfigGetSupportedFonts
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Font'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Font'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Font'
                type: array
          description: Success
      summary: Gets the list of supported fonts for text drawing operations.
      tags:
      - Config
  /api/config/ConfigGetSupportedOCRLanguages:
    get:
      operationId: ConfigGetSupportedOCRLanguages
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringArrayResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringArrayResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringArrayResponse'
          description: Success
      summary: Gets the list of supported languages for OCR.
      tags:
      - Config
  /api/document/DocumentClose:
    post:
      operationId: DocumentClose
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DocumentCloseParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentCloseParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/DocumentCloseParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DocumentCloseParameters'
        description: A DocumentCloseParameters object specifying the parameters of
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DocumentCloseResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCloseResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DocumentCloseResponse'
          description: Success
      summary: Closes a previously uploaded document.
      tags:
      - Document
  /api/document/DocumentGetPreview:
    post:
      operationId: DocumentGetPreview
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/GetDocumentPreviewParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/GetDocumentPreviewParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/GetDocumentPreviewParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetDocumentPreviewParameters'
        description: A GetDocumentPreviewParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DocumentGetPreviewResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentGetPreviewResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DocumentGetPreviewResponse'
          description: Success
      summary: Gets the format, the page count, and a thumbnail of the provided, or
        a previously uploaded document.
      tags:
      - Document
  /api/docuvieware/DocuViewareGetControl:
    post:
      operationId: DocuViewareGetControl
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DocuViewareGetControlParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/DocuViewareGetControlParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/DocuViewareGetControlParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DocuViewareGetControlParameters'
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DocuViewareGetControlResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DocuViewareGetControlResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DocuViewareGetControlResponse'
          description: Success
      tags:
      - DocuVieware
  /api/docuvieware/DocuViewareGetVersion:
    get:
      operationId: DocuViewareGetVersion
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
          description: Success
      tags:
      - DocuVieware
  /api/docuvieware/DocuViewareSave:
    post:
      operationId: DocuViewareSave
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DocuViewareSaveParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/DocuViewareSaveParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/DocuViewareSaveParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DocuViewareSaveParameters'
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DocuViewareSaveResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DocuViewareSaveResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DocuViewareSaveResponse'
          description: Success
      tags:
      - DocuVieware
  /api/image/ImageAdjust:
    post:
      operationId: ImageAdjust
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageAdjustParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageAdjustParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageAdjustParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageAdjustParameters'
        description: An ImageAdjustParameters object specifying the parameters for
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageAdjustResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageAdjustResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageAdjustResponse'
          description: Success
      summary: Adjusts a previously uploaded image.
      tags:
      - Image
  /api/image/ImageAutoCrop:
    post:
      operationId: ImageAutoCrop
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageAutoCropParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageAutoCropParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageAutoCropParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageAutoCropParameters'
        description: An ImageAutoCropParameters object specifying the parameters for
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageAutoCropResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageAutoCropResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageAutoCropResponse'
          description: Success
      summary: Automatically crops a previously uploaded image.
      tags:
      - Image
  /api/image/ImageCleanupDocument:
    post:
      operationId: ImageCleanupDocument
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageCleanupDocumentParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageCleanupDocumentParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageCleanupDocumentParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageCleanupDocumentParameters'
        description: An ImageCleanupDocumentParameters object specifying the parameters
          for the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageCleanupDocumentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageCleanupDocumentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageCleanupDocumentResponse'
          description: Success
      summary: Cleanup a previously uploaded image.
      tags:
      - Image
  /api/image/ImageCloneRegions:
    post:
      operationId: ImageCloneRegions
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageCloneRegionsParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageCloneRegionsParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageCloneRegionsParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageCloneRegionsParameters'
        description: An ImageCloneRegionsParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageCloneRegionsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageCloneRegionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageCloneRegionsResponse'
          description: Success
      summary: Clones regions from a previously uploaded image into new images.
      tags:
      - Image
  /api/image/ImageClose:
    post:
      operationId: ImageClose
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageCloseParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageCloseParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageCloseParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageCloseParameters'
        description: An ImageCloseParameters object specifying the parameters of the
          action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageCloseResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageCloseResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageCloseResponse'
          description: Success
      summary: Closes a previously uploaded image.
      tags:
      - Image
  /api/image/ImageConvertColorDepth:
    post:
      operationId: ImageConvertColorDepth
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageConvertColorDepthParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageConvertColorDepthParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageConvertColorDepthParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageConvertColorDepthParameters'
        description: An ImageConvertColorDepthParameters object specifying the parameters
          for the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageConvertColorDepthResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageConvertColorDepthResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageConvertColorDepthResponse'
          description: Success
      summary: Converts the color depth of a previously uploaded image.
      tags:
      - Image
  /api/image/ImageCrop:
    post:
      operationId: ImageCrop
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageCropParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageCropParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageCropParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageCropParameters'
        description: An ImageCropParameters object specifying the parameters for the
          action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageCropResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageCropResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageCropResponse'
          description: Success
      summary: Crops a previously uploaded image.
      tags:
      - Image
  /api/image/ImageDeletePage:
    post:
      operationId: ImageDeletePage
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageDeletePageParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageDeletePageParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageDeletePageParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageDeletePageParameters'
        description: An ImageDeletePageParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageDeletePageResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageDeletePageResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageDeletePageResponse'
          description: Success
      summary: Deletes a page range from a previously uploaded image.
      tags:
      - Image
  /api/image/ImageDetectBlankPages:
    post:
      operationId: ImageDetectBlankPages
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageDetectBlankPagesParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageDetectBlankPagesParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageDetectBlankPagesParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageDetectBlankPagesParameters'
        description: An ImageDetectBlankPagesParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageDetectBlankPagesResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageDetectBlankPagesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageDetectBlankPagesResponse'
          description: Success
      summary: Detects the blank page(s) from a previously uploaded image and offers
        to remove them.
      tags:
      - Image
  /api/image/ImageDetectColor:
    post:
      operationId: ImageDetectColor
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageDetectColorParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageDetectColorParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageDetectColorParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageDetectColorParameters'
        description: An ImageDetectColorParameters object specifying the parameters
          for the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageDetectColorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageDetectColorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageDetectColorResponse'
          description: Success
      summary: Performs color detection  on a previously uploaded image.
      tags:
      - Image
  /api/image/ImageDetectPageOrientation:
    post:
      operationId: ImageDetectPageOrientation
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageDetectPageOrientationParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageDetectPageOrientationParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageDetectPageOrientationParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageDetectPageOrientationParameters'
        description: An ImagedetectPageOrientationParameters object specifying the
          parameters of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageDetectPageOrientationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageDetectPageOrientationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageDetectPageOrientationResponse'
          description: Success
      summary: Detects the orientation of the page(s) of a previously uploaded image
        and offers to automatically rotate them.
      tags:
      - Image
  /api/image/ImageFilter:
    post:
      operationId: ImageFilter
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageFilterParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageFilterParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageFilterParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageFilterParameters'
        description: An ImageFilterParameters object specifying the parameters for
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageFilterResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageFilterResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageFilterResponse'
          description: Success
      summary: Applies filters to a previously uploaded image.
      tags:
      - Image
  /api/image/ImageGetPageThumbnail:
    post:
      operationId: ImageGetPageThumbnail
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageGetPageThumbnailParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGetPageThumbnailParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageGetPageThumbnailParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageGetPageThumbnailParameters'
        description: A PDFGetPageThumbnailParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageGetPageThumbnailResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageGetPageThumbnailResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageGetPageThumbnailResponse'
          description: Success
      summary: Gets a thumbnail of each page within the provided page range from a
        previously uploaded image.
      tags:
      - Image
  /api/image/ImageGetSupportedFileExtensions:
    get:
      operationId: ImageGetSupportedFileExtensions
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringArrayResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringArrayResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringArrayResponse'
          description: Success
      summary: Gets the supported file extensions by the image loading actions.
      tags:
      - Image
  /api/image/ImageLoad:
    post:
      operationId: ImageLoad
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LoadImageFromByteArrayParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/LoadImageFromByteArrayParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/LoadImageFromByteArrayParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/LoadImageFromByteArrayParameters'
        description: A LoadImageFromByteArrayParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageLoadResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageLoadResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageLoadResponse'
          description: Success
      summary: "Loads the provided image file.\r\nSupported image formats can be retrieved\
        \ by the GetSupportedImageFileExtensions action."
      tags:
      - Image
  /api/image/ImageLoadMultipart:
    post:
      operationId: ImageLoadMultipart
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          multipart/form-data:
            encoding:
              fileData:
                contentType: application/octet-stream
                style: form
              loadImageParameters:
                contentType: application/json
                style: form
            schema:
              properties:
                fileData:
                  description: The data of the document.
                  format: binary
                  type: string
                loadImageParameters:
                  $ref: '#/components/schemas/LoadImageParameters'
              required:
              - fileData
              type: object
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageLoadResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageLoadResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageLoadResponse'
          description: Success
      summary: "Loads the provided image file using Multipart Upload.\r\nSupported\
        \ image formats can be retrieved by the GetSupportedImageFileExtensions action."
      tags:
      - Image
  /api/image/ImageMICR:
    post:
      operationId: ImageMICR
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageMICRParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageMICRParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageMICRParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageMICRParameters'
        description: An ImageMICRParameters object specifying the parameters of the
          action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageMICRResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageMICRResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageMICRResponse'
          description: Success
      summary: Performs MICR (Magnetic Ink Character Recognition) on a previously
        uploaded image.
      tags:
      - Image
  /api/image/ImageReadBarcodes:
    post:
      operationId: ImageReadBarcodes
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageReadBarcodesParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageReadBarcodesParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageReadBarcodesParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageReadBarcodesParameters'
        description: An ImageReadBarcodesParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReadBarcodesResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReadBarcodesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ReadBarcodesResponse'
          description: Success
      summary: Reads barcodes from a previously uploaded image.
      tags:
      - Image
  /api/image/ImageResize:
    post:
      operationId: ImageResize
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageResizeParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageResizeParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageResizeParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageResizeParameters'
        description: An ImageResizeParameters object specifying the parameters for
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageResizeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResizeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageResizeResponse'
          description: Success
      summary: Resizes a previously uploaded image.
      tags:
      - Image
  /api/image/ImageRotate:
    post:
      operationId: ImageRotate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageRotateParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageRotateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageRotateParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageRotateParameters'
        description: An ImageRotateParameters object specifying the parameters for
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageRotateResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageRotateResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageRotateResponse'
          description: Success
      summary: Rotates and/or flips a previously uploaded image.
      tags:
      - Image
  /api/image/ImageSaveAsJPEG:
    post:
      operationId: ImageSaveAsJPEG
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsJPEGParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsJPEGParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsJPEGParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsJPEGParameters'
        description: An ImageSaveAsJPEGParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageSaveAsJPEGResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageSaveAsJPEGResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageSaveAsJPEGResponse'
          description: Success
      summary: Saves a previously uploaded image as JPEG.
      tags:
      - Image
  /api/image/ImageSaveAsJPEGFile:
    post:
      operationId: ImageSaveAsJPEGFile
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsJPEGParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsJPEGParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsJPEGParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsJPEGParameters'
        description: An ImageSaveAsJPEGParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
      summary: Saves a previously uploaded image as JPEG.
      tags:
      - Image
  /api/image/ImageSaveAsPDF:
    post:
      operationId: ImageSaveAsPDF
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFParameters'
        description: An ImagesaveAsPDFParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageSaveAsPDFResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageSaveAsPDFResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageSaveAsPDFResponse'
          description: Success
      summary: Saves a previously uploaded image as PDF.
      tags:
      - Image
  /api/image/ImageSaveAsPDFFile:
    post:
      operationId: ImageSaveAsPDFFile
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFParameters'
        description: An ImagesaveAsPDFParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
      summary: Saves a previously uploaded image as PDF.
      tags:
      - Image
  /api/image/ImageSaveAsPDFMRC:
    post:
      operationId: ImageSaveAsPDFMRC
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFMRCParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFMRCParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFMRCParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFMRCParameters'
        description: An ImagesaveAsPDFMRCParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageSaveAsPDFMRCResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageSaveAsPDFMRCResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageSaveAsPDFMRCResponse'
          description: Success
      summary: Saves a previously uploaded image as PDF using MRC compression.
      tags:
      - Image
  /api/image/ImageSaveAsPDFMRCFile:
    post:
      operationId: ImageSaveAsPDFMRCFile
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFMRCParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFMRCParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFMRCParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPDFMRCParameters'
        description: An ImagesaveAsPDFMRCParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
      summary: Saves a previously uploaded image as PDF using MRC compression.
      tags:
      - Image
  /api/image/ImageSaveAsPNG:
    post:
      operationId: ImageSaveAsPNG
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPNGParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPNGParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPNGParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPNGParameters'
        description: An ImageSaveAsPNGParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageSaveAsPNGResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageSaveAsPNGResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageSaveAsPNGResponse'
          description: Success
      summary: Saves a previously uploaded image as PNG.
      tags:
      - Image
  /api/image/ImageSaveAsPNGFile:
    post:
      operationId: ImageSaveAsPNGFile
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPNGParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPNGParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPNGParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsPNGParameters'
        description: An ImageSaveAsPNGParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
      summary: Saves a previously uploaded image as PNG.
      tags:
      - Image
  /api/image/ImageSaveAsTIFF:
    post:
      operationId: ImageSaveAsTIFF
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFParameters'
        description: An ImageSaveAsTIFFParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageSaveAsTIFFResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageSaveAsTIFFResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageSaveAsTIFFResponse'
          description: Success
      summary: Saves a previously uploaded image as TIFF.
      tags:
      - Image
  /api/image/ImageSaveAsTIFFFile:
    post:
      operationId: ImageSaveAsTIFFFile
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFParameters'
        description: An ImageSaveAsTIFFParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
      summary: Saves a previously uploaded image as TIFF.
      tags:
      - Image
  /api/image/ImageSaveAsTIFFMultipage:
    post:
      operationId: ImageSaveAsTIFFMultipage
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFMultipageParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFMultipageParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFMultipageParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFMultipageParameters'
        description: An ImageSaveAsTIFFMultipageParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageSaveAsTIFFMultipageResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageSaveAsTIFFMultipageResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageSaveAsTIFFMultipageResponse'
          description: Success
      summary: Saves a previously uploaded image as multipage TIFF.
      tags:
      - Image
  /api/image/ImageSaveAsTIFFMultipageFile:
    post:
      operationId: ImageSaveAsTIFFMultipageFile
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFMultipageParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFMultipageParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFMultipageParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageSaveAsTIFFMultipageParameters'
        description: An ImageSaveAsTIFFMultipageParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
            text/json:
              schema:
                format: binary
                type: string
          description: Success
      summary: Saves a previously uploaded image as multipage TIFF.
      tags:
      - Image
  /api/image/ImageSwapPages:
    post:
      operationId: ImageSwapPages
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageSwapPagesParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/ImageSwapPagesParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageSwapPagesParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageSwapPagesParameters'
        description: An ImageSwapPagesParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImageSwapPagesResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ImageSwapPagesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageSwapPagesResponse'
          description: Success
      summary: Swaps two pages from a previously uploaded image.
      tags:
      - Image
  /api/passportmanager/PassportManagerGetPassportInfo:
    get:
      operationId: PassportManagerGetPassportInfo
      parameters:
      - explode: true
        in: query
        name: passportId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PassportPDFPassport'
            application/json:
              schema:
                $ref: '#/components/schemas/PassportPDFPassport'
            text/json:
              schema:
                $ref: '#/components/schemas/PassportPDFPassport'
          description: Success
      tags:
      - PassportManager
  /api/passportpdfapplicationmanager/PassportPDFApplicationManagerGetApplicationDownloadLink:
    get:
      operationId: PassportPDFApplicationManagerGetApplicationDownloadLink
      parameters:
      - explode: true
        in: query
        name: applicationId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
          description: Success
      tags:
      - PassportPDFApplicationManager
  /api/passportpdfapplicationmanager/PassportPDFApplicationManagerGetApplicationLatestVersion:
    get:
      operationId: PassportPDFApplicationManagerGetApplicationLatestVersion
      parameters:
      - explode: true
        in: query
        name: applicationId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
          description: Success
      tags:
      - PassportPDFApplicationManager
  /api/passportpdfapplicationmanager/PassportPDFApplicationManagerGetApplicationMinimumSupportedVersion:
    get:
      operationId: PassportPDFApplicationManagerGetApplicationMinimumSupportedVersion
      parameters:
      - explode: true
        in: query
        name: applicationId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
          description: Success
      tags:
      - PassportPDFApplicationManager
  /api/passportpdfapplicationmanager/PassportPDFApplicationManagerGetMaxClientThreads:
    get:
      operationId: PassportPDFApplicationManagerGetMaxClientThreads
      parameters:
      - explode: true
        in: query
        name: applicationId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IntegerResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/IntegerResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegerResponse'
          description: Success
      summary: Gets the maximum number of threads to be used simultaneously by a client
        application.
      tags:
      - PassportPDFApplicationManager
  /api/pdf/Annotate:
    post:
      operationId: Annotate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfAnnotateParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfAnnotateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfAnnotateParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfAnnotateParameters'
        description: A PdfAnnotateParameters object specifying the parameters of the
          action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfAnnotateResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfAnnotateResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfAnnotateResponse'
          description: Success
      summary: Annotates a previously uploaded document.
      tags:
      - PDF
  /api/pdf/AutoDeskew:
    post:
      operationId: AutoDeskew
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfAutoDeskewParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfAutoDeskewParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfAutoDeskewParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfAutoDeskewParameters'
        description: A PdfAutoDeskewParameters object specifying the parameters of
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfAutoDeskewResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfAutoDeskewResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfAutoDeskewResponse'
          description: Success
      summary: Performs auto deskew on a page range of a previously uploaded document.
      tags:
      - PDF
  /api/pdf/ClearPage:
    post:
      operationId: ClearPage
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfClearPageParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfClearPageParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfClearPageParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfClearPageParameters'
        description: A PdfClearPageParameters object specifying the parameters of
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfClearPageResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfClearPageResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfClearPageResponse'
          description: Success
      summary: Clears a page range from a previously uploaded document.
      tags:
      - PDF
  /api/pdf/ClonePage:
    post:
      operationId: ClonePage
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfClonePageParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfClonePageParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfClonePageParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfClonePageParameters'
        description: A PdfClonePageParameters object specifying the parameters of
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfClonePageResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfClonePageResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfClonePageResponse'
          description: Success
      summary: Clones specific pages from a previously uploaded document to another
        previously uploaded document.
      tags:
      - PDF
  /api/pdf/ClosePDF:
    post:
      operationId: ClosePDF
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfCloseDocumentParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfCloseDocumentParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfCloseDocumentParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfCloseDocumentParameters'
        description: A PdfCloseDocumentParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfCloseDocumentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfCloseDocumentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfCloseDocumentResponse'
          description: Success
      summary: Closes a previously uploaded document.
      tags:
      - PDF
  /api/pdf/ConvertToPDFA:
    post:
      operationId: ConvertToPDFA
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfConvertToPDFAParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfConvertToPDFAParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfConvertToPDFAParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfConvertToPDFAParameters'
        description: A PdfConvertToPDFAParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfConvertToPDFAResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfConvertToPDFAResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfConvertToPDFAResponse'
          description: Success
      summary: Converts a previously uploaded document to PDF/A.
      tags:
      - PDF
  /api/pdf/DeletePage:
    post:
      operationId: DeletePage
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfDeletePageParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfDeletePageParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfDeletePageParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfDeletePageParameters'
        description: A PdfDeletePageParameters object specifying the parameters of
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfDeletePageResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfDeletePageResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfDeletePageResponse'
          description: Success
      summary: Deletes a page range from a previously uploaded document.
      tags:
      - PDF
  /api/pdf/DetectPageOrientation:
    post:
      operationId: DetectPageOrientation
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfDetectPageOrientationParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfDetectPageOrientationParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfDetectPageOrientationParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfDetectPageOrientationParameters'
        description: A PdfDetectPageOrientationParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfDetectPageOrientationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfDetectPageOrientationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfDetectPageOrientationResponse'
          description: Success
      summary: Detects the orientation of the page(s) of a previously uploaded document
        and offers to automatically rotate them.
      tags:
      - PDF
  /api/pdf/DigiSign:
    post:
      operationId: DigiSign
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfDigiSignParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfDigiSignParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfDigiSignParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfDigiSignParameters'
        description: A PdfDigiSignParameters object specifying the parameters of the
          action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfDigiSignResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfDigiSignResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfDigiSignResponse'
          description: Success
      summary: Signs a previously uploaded document digitally.
      tags:
      - PDF
  /api/pdf/DrawImage:
    post:
      operationId: DrawImage
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfDrawImageParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfDrawImageParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfDrawImageParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfDrawImageParameters'
        description: A PdfDrawImageParameters object specifying the parameters of
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfDrawImageResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfDrawImageResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfDrawImageResponse'
          description: Success
      summary: Draws an image on a page range of a previously uploaded document.
      tags:
      - PDF
  /api/pdf/ExtractPage:
    post:
      operationId: ExtractPage
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfExtractPageParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfExtractPageParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfExtractPageParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfExtractPageParameters'
        description: A PdfExtractPageParameters object specifying the parameters of
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfExtractPageResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfExtractPageResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfExtractPageResponse'
          description: Success
      summary: Extracts a page range from a previously uploaded document into one
        or several new documents.
      tags:
      - PDF
  /api/pdf/ExtractText:
    post:
      operationId: ExtractText
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfExtractTextParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfExtractTextParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfExtractTextParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfExtractTextParameters'
        description: A PdfExtractTextParameters object specifying the parameters of
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfExtractTextResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfExtractTextResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfExtractTextResponse'
          description: Success
      summary: Extracts text from the document pages.
      tags:
      - PDF
  /api/pdf/Flatten:
    post:
      operationId: Flatten
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfFlattenParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfFlattenParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfFlattenParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfFlattenParameters'
        description: A PdfFlatten object specifying the parameters of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfFlattenResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfFlattenResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfFlattenResponse'
          description: Success
      summary: Flattens the form-fields, annotations, and/or the layers of a previously
        uploaded document.
      tags:
      - PDF
  /api/pdf/GetInfo:
    post:
      operationId: GetInfo
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfGetInfoParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfGetInfoParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfGetInfoParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfGetInfoParameters'
        description: A PdfGetInfoParameters object specifying the parameters of the
          action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfGetInfoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfGetInfoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfGetInfoResponse'
          description: Success
      summary: Gets information about a previously uploaded document.
      tags:
      - PDF
  /api/pdf/GetPageThumbnail:
    post:
      operationId: GetPageThumbnail
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfGetPageThumbnailParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfGetPageThumbnailParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfGetPageThumbnailParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfGetPageThumbnailParameters'
        description: A PdfGetPageThumbnailParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfGetPageThumbnailResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfGetPageThumbnailResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfGetPageThumbnailResponse'
          description: Success
      summary: Gets a thumbnail of each page within the provided page range from a
        previously uploaded document.
      tags:
      - PDF
  /api/pdf/GetPDFImportSupportedFileExtensions:
    get:
      operationId: GetPDFImportSupportedFileExtensions
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringArrayResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringArrayResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringArrayResponse'
          description: Success
      summary: Gets the supported file extensions by the LoadDocumentAsPDF action.
      tags:
      - PDF
  /api/pdf/InsertImage:
    post:
      operationId: InsertImage
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfInsertImageParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfInsertImageParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfInsertImageParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfInsertImageParameters'
        description: A PdfInsertImageParameters object specifying the parameters of
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfInsertImageResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfInsertImageResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfInsertImageResponse'
          description: Success
      summary: Inserts an image on a new page of a previously uploaded document.
      tags:
      - PDF
  /api/pdf/InsertNewPage:
    post:
      operationId: InsertNewPage
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfInsertNewPageParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfInsertNewPageParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfInsertNewPageParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfInsertNewPageParameters'
        description: A PdfInsertNewPageParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfInsertNewPageResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfInsertNewPageResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfInsertNewPageResponse'
          description: Success
      summary: Inserts one or more new blank pages to a specific position in a previously
        uploaded document.
      tags:
      - PDF
  /api/pdf/InsertPageNumber:
    post:
      operationId: InsertPageNumber
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfInsertPageNumberParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfInsertPageNumberParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfInsertPageNumberParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfInsertPageNumberParameters'
        description: A PdfInsertPageNumberParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfInsertPageNumberResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfInsertPageNumberResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfInsertPageNumberResponse'
          description: Success
      summary: Inserts page number(s) on a document.
      tags:
      - PDF
  /api/pdf/InsertText:
    post:
      operationId: InsertText
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfInsertTextParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfInsertTextParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfInsertTextParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfInsertTextParameters'
        description: A PdfInsertTextParameters object specifying the parameters of
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfInsertTextResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfInsertTextResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfInsertTextResponse'
          description: Success
      summary: Inserts text on a document.
      tags:
      - PDF
  /api/pdf/Linearize:
    post:
      operationId: Linearize
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfLinearizeParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfLinearizeParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfLinearizeParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfLinearizeParameters'
        description: A PdfLinearizeParameters object specifying the parameters of
          the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfLinearizeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfLinearizeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfLinearizeResponse'
          description: Success
      summary: Linearizes a previously uploaded document.
      tags:
      - PDF
  /api/pdf/LoadDocument:
    post:
      operationId: LoadDocumentAsPDF
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfLoadDocumentFromByteArrayParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfLoadDocumentFromByteArrayParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfLoadDocumentFromByteArrayParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfLoadDocumentFromByteArrayParameters'
        description: A PdfLoadDocumentFromByteArrayParameters object specifying the
          parameters of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfLoadDocumentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfLoadDocumentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfLoadDocumentResponse'
          description: Success
      summary: "Imports the provided document as PDF.\r\nSupported document formats\
        \ can be retrieved by the GetPDFImportSupportedFileExtensions action."
      tags:
      - PDF
  /api/pdf/LoadDocumentAsPDFMultipart:
    post:
      operationId: LoadDocumentAsPDFMultipart
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          multipart/form-data:
            encoding:
              fileData:
                contentType: application/octet-stream;
                style: form
              loadDocumentParameters:
                contentType: application/json
                style: form
            schema:
              properties:
                fileData:
                  description: The data of the document.
                  format: binary
                  type: string
                loadDocumentParameters:
                  $ref: '#/components/schemas/PdfLoadDocumentParameters'
              required:
              - fileData
              type: object
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfLoadDocumentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfLoadDocumentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfLoadDocumentResponse'
          description: Success
      summary: "Imports the provided document as PDF using Multipart Upload.\r\nSupported\
        \ document formats can be retrieved by the GetPDFImportSupportedFileExtensions\
        \ action."
      tags:
      - PDF
  /api/pdf/Merge:
    post:
      operationId: Merge
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfMergeParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfMergeParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfMergeParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfMergeParameters'
        description: A PdfMergeParameters object specifying the parameters of the
          action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfMergeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfMergeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfMergeResponse'
          description: Success
      summary: Merges several previously uploaded documents into a new PDF.
      tags:
      - PDF
  /api/pdf/MergePages:
    post:
      operationId: MergePages
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfMergePagesParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfMergePagesParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfMergePagesParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfMergePagesParameters'
        description: A PdfMergePages object specifying the parameters of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfMergePagesResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfMergePagesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfMergePagesResponse'
          description: Success
      summary: Merges multiple pages, vertically, within a previously uploaded document
        into one single page.
      tags:
      - PDF
  /api/pdf/MovePage:
    post:
      operationId: MovePage
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfMovePageParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfMovePageParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfMovePageParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfMovePageParameters'
        description: A PdfMovePageParameters object specifying the parameters of the
          action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfMovePageResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfMovePageResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfMovePageResponse'
          description: Success
      summary: Moves a page range from a previously uploaded document.
      tags:
      - PDF
  /api/pdf/OCR:
    post:
      operationId: OCR
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfOCRParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfOCRParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfOCRParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfOCRParameters'
        description: A PdfOCRParameters object specifying the parameters of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfOCRResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfOCRResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfOCRResponse'
          description: Success
      summary: "Performs optical character recognition on a page range of a previously\
        \ uploaded document.\r\nThe recognized text is added as invisible text on\
        \ each processed page.\r\nNo token is charged for blank pages."
      tags:
      - PDF
  /api/pdf/Protect:
    post:
      operationId: Protect
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfProtectParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfProtectParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfProtectParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfProtectParameters'
        description: A PdfProtectParameters object specifying the parameters of the
          action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfProtectResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfProtectResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfProtectResponse'
          description: Success
      summary: Protects a previously uploaded document.
      tags:
      - PDF
  /api/pdf/ReadBarcodes:
    post:
      operationId: ReadBarcodes
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfReadBarcodesParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfReadBarcodesParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfReadBarcodesParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfReadBarcodesParameters'
        description: A PdfReadBarcodesParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReadBarcodesResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReadBarcodesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ReadBarcodesResponse'
          description: Success
      summary: Reads barcodes from a previously uploaded document.
      tags:
      - PDF
  /api/pdf/Reduce:
    post:
      operationId: Reduce
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfReduceParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfReduceParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfReduceParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfReduceParameters'
        description: A PdfReduceParameters object specifying the parameters of the
          action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfReduceResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfReduceResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfReduceResponse'
          description: Success
      summary: Reduces the size of a previously uploaded document.
      tags:
      - PDF
  /api/pdf/RemovePageFormFields:
    post:
      operationId: RemovePageFormFields
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfRemovePageFormFieldsParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfRemovePageFormFieldsParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfRemovePageFormFieldsParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfRemovePageFormFieldsParameters'
        description: A PdfRemovePageFormFieldsParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfRemovePageFormFieldsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfRemovePageFormFieldsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfRemovePageFormFieldsResponse'
          description: Success
      summary: Removes the form fields from a page range of a previously uploaded
        document.
      tags:
      - PDF
  /api/pdf/ReorderPages:
    post:
      operationId: ReorderPages
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfReorderPagesParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfReorderPagesParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfReorderPagesParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfReorderPagesParameters'
        description: A PdfReorderPagesParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfReorderPagesResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfReorderPagesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfReorderPagesResponse'
          description: Success
      summary: Reorders pages of a previously uploaded document.
      tags:
      - PDF
  /api/pdf/RepairDocument:
    post:
      operationId: RepairDocument
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfRepairDocumentParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfRepairDocumentParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfRepairDocumentParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfRepairDocumentParameters'
        description: A PdfRepairDocumentParameters object specifying the parameters
          of the action.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PdfRepairDocumentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PdfRepairDocumentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PdfRepairDocumentResponse'
          description: Success
      summary: Repairs a previously uploaded PDF document.
      tags:
      - PDF
  /api/pdf/RotatePageStandard:
    post:
      operationId: RotatePageStandard
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PdfRotatePageStandardParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PdfRotatePageStandardParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PdfRotatePageStandardParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PdfRotatePageStandardParameters'
        description: A PdfRotatePageStandardParameters object specifying the parameters
          of the action.
[...]
